*{
  margin: 0;
  padding:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing:border-box;
}

body{
  width:100%;
  height:100%;
  background-color: #ffddcb;
}

#home{
  margin-top: 10%;
}

hr{
  size: 100px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #FF8442;
}

#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5% 5%;
  background-color:#ffffff;
}

#nav h3{
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: lighter;
  letter-spacing: 1px;
}

#nav h3 span{
  font-weight: 600;
}

#links a{
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 15px;
  font-weight: 400;
  color: black;
}

#links a:hover {
  border-bottom: 3px solid;
  cursor: pointer;
  transition: 0.1s;
  color: #FF8442;
}

#heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  background-color:#fff;
}

#heading span{
  font-size: 1.5rem;
}

#heading h1{
  font-family: fantasy;
  font-size: 3rem;
}

#heading p{
  text-align: center;
  font-size: 1.6rem;
  margin: 30px 0;
  width: 50%;
}

#heading button{
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 25px;
  margin-bottom: 5%;
  border: none;
  cursor: pointer;
  background-color: black;
  color: #fff;
  border-radius: 85px;
  border-color: antiquewhite;
  transition-duration: 0.1s;
}

#heading button:hover {
  background-color: #FF8442;
  color: white;
}

#illustration{
  display: flex;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fff;
}

#illustration img{
  width: 50%;
  height: 50%;
  margin-bottom: 20px;
}

#pricing{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color:#fff;
  padding: 30px 50px;
}

#pricing h1{
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
}

#pricing_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  background-color:#fff;
  padding: 50px 50px;
}

.card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:20%;
  margin-left: 1%;
  margin-right: 4%;
  transition: 0.3s;
  padding: 30px 30px;
  background-color: #fa7128;
  border-radius: 20px;
}

.card1 img{
  border-radius: 20px;
}

.card1:hover {
  box-shadow: 1px 0px 6px 7px #F5B64B;
  border-radius: 20px;
  padding: 21px 21px;
}

.container1 {
  display: flex;
  padding: 2px 16px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  color: #fff;
}

.container1 h4{
  font-size: 1.3rem;
}

.container1 p{
  font-size: 1.3rem;
}

.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:30%;
  margin-left: 3%;
  margin-right: 3%;
  transition: 0.3s;
  padding: 35px 35px;
  background-color: #fa7128;
  border-radius: 20px;
}

.card2 img{
  border-radius: 20px;
}

.card2:hover {
  box-shadow: 1px 0px 6px 7px #F5B64B;
  border-radius: 20px;
  padding: 25px 25px;
}

.container2 {
  padding: 2px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  color: #fff;
}

.container2 h4{
  font-size: 2.7rem;
}

.container2 p{
  font-size: 2rem;
}

.card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:20%;
  margin-left: 4%;
  margin-right: 1%;
  transition: 0.3s;
  padding: 30px 30px;
  background-color: #fa7128;
  border-radius: 20px;
}

.card3 img{
  border-radius: 20px;
}
.card3:hover {
  box-shadow: 1px 0px 6px 7px #F5B64B;
  border-radius: 20px;
  padding: 21px 21px;
}

.container3 {
  padding: 2px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  color: #fff;
}

.container3 h4{
  font-size: 1.3rem;
}

.container3 p{
    font-size: 1.3rem;
}

#about{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color:#fff;
  padding: 35px 50px;
}

#about h1{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
}

#about_content{
  display: flex;
  justify-content: space-between;
  padding: 1vw 4vw 4vw 4vw;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fff;
}

#about_content #about_left{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 10%;
  border-right: 5px double #000;
}

#about_content #about_left h1{
  font-weight: lighter;
  font-size: 2rem;
  letter-spacing: 1px;
}

#about_content #about_left p{
  display: flex;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-left: 18%;
  text-align: right;
  width: 100%;
}

#about_content #about_right{
  width: 40%;
}

#about_right .img_container1{
  display: flex;
  font-size: 1rem;
  font-weight: lighter;
  gap: 20px;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

#about_right .img_container2{
  display: flex;
  font-size: 1rem;
  font-weight: lighter;
  gap: 20px;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

#about_right .img_container3{
  display: flex;
  font-size: 1rem;
  font-weight: lighter;
  gap: 20px;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.video-section{
  display: flex;

  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color:#fff;
  padding: 20px 50px;
}

.video-section video{
  border-radius: 10px;
  height: 30%;
  width: 80%;
  margin-bottom: 50px;
  border: 2px solid #FF8442;  
}


#contact{
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color:#fff;
  padding: 30px 50px;
}

#contact h1{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 3px;
}

#contact_content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  background-color:#fff;
}

#contact_content .contact-left{
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 20px;
  margin-top: 7.5%;
  margin-bottom: 10%;
  /* width: 100px; */
  /* height: 100px; */
  /* margin: 35px 350px 10px 80px; */
  text-align: center;
}

#contact_content img{
  display: flex;
  align-items: center;
  padding: 3px 3px 3px 3px;
  /* margin: 35px 350px 10px 80px; */
  /* width:900px; */
  /* height:99px; */
  background-color:#FF8442;
  flex-direction: column;
  border-radius: 100px;
}

#contact_content .contact-right{
  border-radius: 20px;
  width: 100%;
  margin-top: 8.5%;
  margin-bottom: 10%;
  margin-right: 15%;
  text-align: right;
}

#contact_content h1{
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
}

#contact_content .title {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
}

#contact_content p{
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 2px;
}

#footer{
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  background-color:#fff;
  padding: 10px 50px;
}

#footer p{
  font-size: 1.1rem;
}

#footer a{
  font-size: 1.1rem;
  text-decoration: none;
  color: #FF8442;
}


/* --------------------------------------------------------------------RESPONSIVE---------------------------------------------------------------------- */
/* --------------------------------------------------------------------RESPONSIVE---------------------------------------------------------------------- */
/* --------------------------------------------------------------------RESPONSIVE---------------------------------------------------------------------- */

@media (max-width:600px) {

  #nav h3{
    font-size: 0.7rem;
  }
  
  #links a{
    font-size: 0.4rem;
    margin: 0 7px;
  }
  
  #links a:hover {
    border-bottom: 1px solid;
    transition: 0.1s;
  }
  
  #heading span{
    font-size: 0.5rem;
  }
  
  #heading h1{
    font-size: 1.5rem;
  }
  
  #heading p{
    font-size: 0.57rem;
    margin: 20px 0;
    width: 62%;
  }
  
  #heading button{
    font-size: 0.5rem;
    padding: 5px 12px;
    margin-bottom: 5%;
  }

  #illustration img{
    width: 70%;
    height: 70%;
    margin-bottom: 10px;
  }
  
  #pricing{
    padding: 30px 50px 0px 50px;
  }
  
  #pricing h1{
    font-size: 1.3rem;
  }

  /* -----------------------------pricing-content-cards----------------------------- */
  
  #pricing_content{
    flex-direction: column;
  }
  
  .card1 {
    flex-direction: column;
    width:150px;
    height: 195px;
    transition: 0.3s;
    margin-left: 0;
    margin-right: 0;
    padding: 30px 30px;
    background-color: #fa7128;
    border-radius: 20px;
  }
  
  .card1 img{
    border-radius: 20px;
  }
  
  .container1 {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    color: #fff;
  }
  
  .container1 h4{
    font-size: 0.7rem;
    padding: 0;
  }
  
  .container1 p{
    font-size: 0.7rem;
  }
  
  .card2 {
    display: flex;
    width:180px;
    height: 250px;
    transition: 0.3s;
    padding: 35px 35px;
    margin: 15% 0% 15% 0%;
  }
  
  .card2 img{
    border-radius: 20px;
  }
  
  .container2 {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    color: #fff;
  }
  
  .container2 h4{
    font-size: 1.4rem;
  }
  
  .container2 p{
    font-size: 1rem;
  }

  .container2 h5{
    font-size: 0.5rem;
  }
  
  .card3 {
    flex-direction: column;
    width:150px;
    height: 195px;
    transition: 0.3s;
    margin-left: 0;
    margin-right: 0;
    padding: 30px 30px;
  }
  
  .card3 img{
    border-radius: 20px;
  }
  
  .container3 {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    color: #fff;
  }
  
  .container3 h4{
    font-size: 0.7rem;
    padding: 0;
  }
  
  .container3 p{
    font-size: 0.7rem;
  }
  
  #about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color:#fff;
    padding: 35px 50px;
  }
  
  #about h1{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
  }
  
  #about_content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* text-align: center; */
    padding: 1vw 4vw 4vw 4vw;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fff;
  }
  
  #about_content #about_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-right: 0%;
    border-right: 0;
    border-bottom: 5px double #000;
  }
  
  #about_content #about_left h1{
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  
  #about_content #about_left p{
    display: flex;
    font-size: 0.7rem;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    text-align: center;
    width: 100%;
  }
  
  #about_content #about_right{
    width: 100%;
    padding-top: 20px;
  }
  
  #about_right .img_container1{
    display: flex;
    font-size: 0.8rem;
    font-weight: lighter;
    gap: 20px;
    width: 100%;
    padding: 10px 0px 10px 0px;
  }
  
  #about_right .img_container2{
    display: flex;
    font-size: 0.8rem;
    font-weight: lighter;
    gap: 20px;
    width: 100%;
    padding: 10px 0px 10px 0px;
  }
  
  #about_right .img_container3{
    display: flex;
    font-size: 0.8rem;
    font-weight: lighter;
    gap: 20px;
    width: 100%;
    padding: 10px 0px 10px 0px;
  }
  
  .video-section{
    display: flex;
  
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color:#fff;
    padding: 20px 50px;
  }
  
  .video-section video{
    border-radius: 10px;
    height: 40%;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #FF8442;  
  }
  
  
  #contact{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color:#fff;
    padding: 30px 50px;
  }
  
  #contact h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 3px;
  }
  
  #contact_content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    background-color:#fff;
  }
  
  #contact_content .contact-left{
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 20px;
    margin-top: 7.5%;
    margin-bottom: 10%;
    text-align: center;
  }
  
  #contact_content img{
    display: flex;
    align-items: center;
    padding: 3px 3px 3px 3px;
    background-color:#FF8442;
    flex-direction: column;
    border-radius: 100px;
  }
  
  #contact_content .contact-right{
    border-radius: 20px;
    width: 100%;
    margin-top: 8.5%;
    margin-bottom: 10%;
    margin-right: 15%;
    text-align: center;
  }
  
  #contact_content h1{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
  #contact_content .title {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 1px;
    font-weight: bold;
  }
  
  #contact_content p{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
  }
  
  #footer{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color:#fff;
    padding: 5px 25px;
  }
  
  #footer p{
    font-size: 0.4rem;
  }
  
  #footer a{
    font-size: 0.4rem;
  }
}


@media (min-width:601px) and (max-width:1100px) {


  #nav h3{
    font-size: 1.5rem;
  }

  #links a{
    font-size: 1rem;
    margin: 0 7px;
  }

}